#root{
  background-color: aliceblue;
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  min-height: 200vh;
  /* padding-top: 20px; */
  margin-top: 0px;
}
.hr_dm{
  width: 100%;
  margin: 0px;
  border: 5px solid rgb(126, 199, 255);
}
th{
  text-align: left;
  margin: 15px;
  padding: 10px;
  background-color: rgb(126, 199, 255);
  border-radius: 3px;
}
tr{
  border: 1px solid red !important;
  vertical-align: top !important;
}
td{
  background-color: rgb(232, 232, 232);
  border-radius: 2px;
  text-align: center;
  padding: 2px;
}
.center-table{
 width: 90%;
 margin: 0 auto;
}
.center-component {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  /* margin-bottom: 800px; */
}

.myCustom_text{
  /* border: 1px solid grey !important; */
}